<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Management System</title>
<link rel="stylesheet" th:href="@{/css/admin_styles.css}"/>
</head>
<body>
	<div class="user-list-form">
		<h1 class="headerSign">Product Management System</h1>
		<hr>
		<h2>Do Claim</h2>

		<form action="#" th:action="@{/saveClaimAdmin}" th:object="${claim}"
			method="POST">
			
			<!-- Add hidden form field to handle update -->

			<input type="text" th:field="*{claimDate}" class="form-control mb-4 col-4" placeholder="Enter Claim Date">
				
				<input type="text" th:field="*{issue}" class="form-control mb-4 col-4" placeholder="Enter The Issue">
				
				<input type="text" th:field="*{productName}" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Do Claim</button>
		</form>
		
		<hr>
		
	</div>
</body>
</html>