<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login Page</title>
	<!-- <link rel="stylesheet" href="styles.css">-->
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="login">
	<div class="container-fluid">
	<h1>ACCOUNT LOGIN</h1>			
		<form method="post">
			<input type="text" name="username" class="form-control mt-3" placeholder="Username" required="required"/>
			<input type="password" name="password" class="form-control mt-3" placeholder="Password" required="required"/>
			<input type="submit" value="Let Me In" class="btn btn-block btn-dark mt-3"/>
		</form>	
	</div>
	<div class="foot-cnt">
		<a th:href = "@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> Register </a> |
		<a th:href = "@{/adminLogin}" class="btn btn-primary btn-sm mb-3"> Admin </a>
	</div>		
</div>
</body>
</html>