<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Product Management System</title>
<link rel="stylesheet" th:href="@{/css/styles.css}"/>	
</head>
<body>
	<div class="index">
		<h1 class="headerSign">Product Management System</h1>
		<hr>
		<h2>Registration</h2>

		<form action="#" th:action="@{/saveUser}" th:object="${user}"
			method="POST">
			<input type="text" name="username" th:field="*{username}"
				placeholder="username" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{password}"
				placeholder="password" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{firstname}"
				placeholder="Firstname" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{lastname}"
				placeholder="Lastname" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Register</button> | 
				<a th:href = "@{/login}" class="btn btn-primary">Go Back</a>
		</form>
		
		<br><hr>
	</div>
</body>
</html>